/.metadata/
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/0.snap
